<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a class="active" href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>

  </div>
  <h1>Welcome to the Main Screen</h1>
  <h2>also this</h2>
</div>
