<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a class="active" href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>

  </div>
  <h1>All Shelters</h1>

  <% @shelters.each do |shelter| %>
  <ul>
    <li class="shelter-list">
      <h2><a class="shelter-link" href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
      <p><a class="shelter-edit" href="/shelters/<%= shelter.id %>/edit">Update Shelter</a></p>
    </li>
  </ul>
  <% end %>

</div>
