<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a class="active" href="/pets">Pets</a>

  </div>

  <h1 class="header">PETS!</h1>
  <p><%= @pets %></p>

  </div>
