<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a href="/pets">Pets</a>
    <a class="active" href="/pets/new">New Pet</a>
  </div>

  <h1>Enter A New Pet</h1>

  <form action="/pets" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Pet Name:</p>
    <input type="text" name="pet[name]"/>
    <p>Pet description</p>
    <textarea name="pet[description]"></textarea>
    <p>image url:</p>
    <input type="text" name="pet[image]">
    <p>Approximate age:</p>
    <input type="text" name="pet[age]">
    <p>Sex:</p>
    <input type="radio" name="pet[sex]" value="male">
    <label for="male">Male</label><br>
    <input type="radio" name="pet[sex]" value="female">
    <label for="female">Female</label><br>
    <p>Name of Shelter:</p>
    <input type="text" name="pet[shelter]"><br>
    <input class="submit_button" type="submit" value="Create Pet">
  </form>

</div> /* final */
