<div class="background">
  <img src="http://hdwpro.com/wp-content/uploads/2019/09/Super-Ocean-Image.jpg" alt="ocean">

  <div class="content">
  <h1>Welcome to the Task Manager 2.0</h1>
  <div id="main_menu">
    <a id="main" href="/">Main</a>
    <a id="tasks" href="/tasks">Tasks</a>
    <a id="new-task" href="/tasks/new">New Task</a>
    <a id="dino" href="/dinos">All Dinos</a>
    <a id="new-dino" href="/dinos/new">New Cool trinket</a>
  </div>
</div>
</div>
