<div class="background">
  <img src="https://thumbs.dreamstime.com/b/playful-funny-cat-white-background-24923727.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
  </div>
  <h1>Welcome to the shelter?</h1>
  <h2>also this</h2>
</div>
