<div class="background">
  <img src="https://thumbs.dreamstime.com/b/playful-funny-cat-white-background-24923727.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a class="active" href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a href="/pets">Pets</a>

  </div>
  <h1>Welcome to the shelter</h1>
  <h3>Lets adopt a pet!</h3>
</div>
